pillow==9.5.0
imageio==2.31.1
h5py==3.10.0
matplotlib==3.7.2
nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
scipy==1.10.1
scikit-image==0.19.3
scikit-learn==1.2.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.66.1
